<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/ec.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Eksamenchat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  
  <div class="login_and_register_main">
      <h1 alt="Login to Chat around the world!">Login to Chat around the world!</h1>
      <form action="{{ url_for('login') }}" method="POST" class="login_and_register_form">
          <label for="username" alt="Enter a username">Username:</label>
          <input class="height" type="text" id="username" name="username" required><br>
          <label for="password" alt="Enter a Password">Password:</label>
          <input class="height" type="password" id="password" name="password" required><br>
          <button class="submit_button" alt="Submit login" type="submit">Login</button>
      </form>
      <a href="{{ url_for('register') }}" alt="Don't have an account register now">Don't have an account?</a>
  </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>