<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/ec.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Eksamenchat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
    <div class="login_and_register_main">
        <h1>Register to experience 100% fun</h1>
        <form action="{{ url_for('register') }}" method="POST" class="login_and_register_form">
            <label for="username">Username:</label>
            <input class="height" type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input class="height" type="password" id="password" name="password" required><br>
            <label for="confirm_password">Confirm Password:</label>
            <input class="height" type="password" id="confirm_password" name="confirm_password" required><br>
            <label for="email">Email:</label>
            <input class="height" type="email" id="email" name="email" required><br>
            <button class="submit_button" type="submit">Register</button>
            <!-- Javascript that checks if the password matches when trying to register -->
            <script>
                const form = document.querySelector("form");
                const password = document.getElementById("password");
                const confirmPassword = document.getElementById("confirm_password");
        
                form.addEventListener("submit", (e) => {
                    if (password.value !== confirmPassword.value) {
                        e.preventDefault();
                        <ul class="flashes">
                            <li class="category">Math</li>
                        </ul>
                    }
                });
            </script>
        </form>
        <a href="{{ url_for('login') }}">Already have an account?</a>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>