<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/ec.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Eksamenchat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

    <div class="login_and_register_main">
        <h1 alt="Register to Chat around the world!">Register to Chat around the world!</h1>
        <form id="register-form" action="{{ url_for('register') }}" method="POST" class="login_and_register_form">
            <label for="username" alt="Enter a username">Username:</label>
            <input class="height" type="text" id="username" name="username" required><br>
            <label for="password" alt="Enter a password">Password:</label>
            <input class="height" type="password" id="password" name="password" required><br>
            <label for="confirm_password" alt="Confirms your password">Confirm Password:</label>
            <input class="height" type="password" id="confirm_password" name="confirm_password" required><br>
            <label for="email" alt="Enter your Email">Email:</label>
            <input class="height" type="email" id="email" name="email" required><br>
            <button class="submit_button" type="submit" alt="submit and register now">Register</button>
        </form>
        <a href="{{ url_for('login') }}" alt="do you already have an account?">Already have an account?</a>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>